<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <!-- SERVER JAVA SERVLETS -->
    <servlet>
        <servlet-name>ImageMaker</servlet-name>
        <servlet-class>com.eweware.heard.ImageMaker</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>URLImageMaker</servlet-name>
        <servlet-class>com.eweware.heard.UploadURLImage</servlet-class>
    </servlet>

    <!-- server mappings - API -->

    <servlet-mapping>
        <servlet-name>ImageMaker</servlet-name>
        <url-pattern>/api/image</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>URLImageMaker</servlet-name>
        <url-pattern>/api/image/url</url-pattern>
    </servlet-mapping>


    <!-- SERVER JSP PAGES -->
    <servlet>
        <servlet-name>uploadTest</servlet-name>
        <jsp-file>/photoTest.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>urlUploadTest</servlet-name>
        <jsp-file>/urluploadtest.jsp</jsp-file>
    </servlet>

    <!-- server mappings - WEB PAGES -->

    <servlet-mapping>
        <servlet-name>uploadTest</servlet-name>
        <url-pattern>/uploadtest</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>urlUploadTest</servlet-name>
        <url-pattern>/urluploadtest</url-pattern>
    </servlet-mapping>


</web-app>